<div class="hero-unit">
  <div id="step1" class="step address">
    <h3>Enter your address</h3>
    
    <form>
      <input type="text" name="address" id="address" placeholder="Enter your address" class="span5">
      <div class="controls">
        <input type="submit" value="Next &raquo;" class="btn btn-primary step_button" data-step="#step2">      
      </div>
    </form>
  </div><!-- step1 -->

  <div id="step2" class="step driving_type" style="display:none;">
    <h3>Tell us about your driving habits</h3>
    <div id="driving_icons" class="clearfix">
      <div class="driving_icon">
        <a href="#" data-miles="7500"><%= image_tag("driving_light.png") %></a>
      </div>
      <div class="driving_icon">
        <a href="#" data-miles="15000"><%= image_tag("driving_moderate.png") %></a>
      </div>
      <div class="driving_icon">
        <a href="#" data-miles="20000"><%= image_tag("driving_heavy.png") %></a>
      </div>
    </div>
    
    <input type="hidden" name="miles_year" value="" id="miles_year">
  
    <div id="exact_miles">
      <p>OR</p>
      <input type="text" name="exact_driving" value="" id="exact_driving" placeholder="exact miles per year">
    </div>
    <div class="controls">
      <button class="btn btn-primary step_button" data-step="#step3">Next &raquo;</button>  
    </div>
  </div><!-- step2 -->

  <div id="step3" class="step vehicle_select" style="display:none;">
    <h3>Pick a vehicle</h3>
  
    <select name="vehicle_type" id="vehicle_type">
    </select>
  
    <div class="controls"><button class="btn btn-primary step_button get_calc_button" data-step="#step4">Next &raquo;</button></div>
  </div><!-- step3 -->

  <div id="step4" class="step outputs" style="display:none;">
    <h3>Your report
    <div id="graphs">
      <div id="graph_1">
        
      </div>
    
    </div>
    <div id="options" class="controls">
      <a href="/" class="btn btn-default">Start Over</a>
      <button class="btn btn-primary">Email this</button>
    </div>
  </div><!-- step4 -->
</div><!-- hero -->