<div id="step1" class="step address">
  <h3>Enter your address</h3>
    
  <form >
    <input type="text" name="address" id="address" placeholder="Enter your address">
    <input type="submit" value="Next" class="btn btn-primary">    
  </form>
</div>
<div id="step2" class="step driving_type">
  <h3>Tell us about your driving habits</h3>
  
  <select name="driving_type" value="" id="driving_type">
    <option value="7500">Short Commute</option>
    <option value="15000">Long Commute</option>
    <option value="20000">Frequent Travel</option>
    <option value="13500">Default</option>
  </select>
  
  <p>OR</p>
  
  <input type="text" name="exact_driving" value="" id="exact_driving" placeholder="miles per year">
  <button class="btn btn-primary">Next &raquo;</button>  
</div>
<div id="step3" class="step vehicle_select">
  <h3>Pick a vehicle</h3>
  
  <select name="vehicle_type" id="vehicle_type">
  </select>
  
</div>
<div id="step4" class="step outputs">
  <div id="graphs">
    
  </div>
  <div id="options">
    <button class="btn btn-default">Select Another Vehicle</button>
    <button class="btn btn-primary">Email this</button>
  </div>
  
</div>